#mainDiv {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    /* color: white; */
}


#contentDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* #datacontents {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 24px gray;
} */


.Fields {
    display: flex;
    /* position: fixed; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    height: 100%;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}


#infoFields {
    /* background: palevioletred; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LabelAndInputFields {
    margin-bottom: 14px;
}

#formDiv {
    margin-top: 24px;
}

.labels {
    /* display: block; */
    padding-left: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
    /* background: grey; */
}

.InputFields {
    width: 100%;
    flex-wrap: wrap;
    background: #000;
}


#PasswordView {
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: end;
    cursor: pointer;
}

#PasswordView:hover {
    transition: 500ms;
    color: blue;
}

#forgotPasswordAndRegister {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 14px;
    padding-top: 14px;
    /* background: mediumpurple; */
    text-align: end;
}

.forgotPasswordandRegisterText {
    text-decoration: none;
}

.forgotPasswordandRegisterText:hover {
    color: green;
    scale: 1.05;
}

#Register {
    display: flex;
}


#LoginimgField {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url("../images/Login_Page.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#RegisterImgField {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url("../images/Register_Page.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#ForgotImgField {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url("../images/Forgot_Password_Page.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#submitbutton {
    margin-bottom: 14px;
}








@media (max-width: 500px) {
    #LoginimgField {
        display: none;
    }

    .Fields {
        background-image: url("../images/Login_Page.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #datacontents {
        padding: 20px 30px;
        border-radius: 8px;
        /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        width: 100%;
        max-width: 400px;
        text-align: center;
        /* background-color: rgba(0, 0, 0, 0.1); */
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: 2px solid rgba(0, 0, 0, 0.1);
    }
}