body {
  margin: 0;
}


.drop-file-input {
  position: relative;
  width: 100%;
  margin: 30px 0px;
  height: 200px;
  border: 2px dashed red;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
}

.drop-file-input__label img {
  width: 50px;
}




#APP {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(lightblue,80%,pink); */
}


 