.icons {
    width: 35%;
    /* height: 10%; */
    /* background: #363436; */
}

#allIcon {
    width: 100%;
    height: 99%;
    gap: 14px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 
.statuscount {
    font-size: 14px;
    font-weight: bolder;
    height: auto;
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: #7656f7;
    background-color: #3300ff;
    color: #ffffff;
    background: transparent;
    background: radial-gradient(skyblue,50%,rgb(250, 165, 239));
}
.statuscount img{
    padding-right: 2px;
} */

#mainstatuscount {
    width: 100%;
    justify-content: space-around;
    /* background: #8495f3; */
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 0.5%;
    border-bottom: 1px solid rgb(68, 62, 62);
    margin-bottom: 24px;
    /* background: gold; */
}

/* Add this CSS for the spinner animation */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #b700ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#dashboardTrends {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}


/* #Total_Campaigns{
    display: inline-flex;
    align-items: center;
} */


.iconandcontent {
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgb(161, 158, 158);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-left: 16px;
    width: 14%;
    min-width: 80px;
}

.count_number {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    overflow: hidden;
    /* margin-right: 10px; */
    font-size: 30px;
    background: linear-gradient(white, blueviolet);
    background-clip: text;
    color: transparent;
    transition: all 1s ease;
    /* background: pink; */
}


.img_count {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count_page_icons {
    margin-top: -25px;
    margin-left: -30px;
}

.content {
    /* color: #797579; */
    /* color: gray; */
    /* background: pink; */
    flex-wrap: wrap;
    font-size: small;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Courier New', Courier, monospace; */
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.in-animation {
    animation: fadeIn 1s ease-in-out;
}